.div_contentConfirmOrder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .div_contentConfirmerOrder{
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 300px;
        height: 80%;
        border-left: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-top: 2px solid lightgray;
        border-radius: 10px 0px 0px 10px;
        padding: 10px;

        .div_contentMapsConfirmerOrder{
            display: flex;
            height: 80%;
        }
    
        .div_ConsultCEPConfirmerOrder{
            display: flex;
            height: 20%;
        }
    }
    
    .div_contentResumeConfirmerOrder{
        display: flex;
        flex-direction: column;
        width: 20%;
        min-width: 150px;
        height: 80%;
        border-right: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-top: 2px solid lightgray;
        border-left: 2px solid lightgray;
        border-radius: 0px 10px 10px 0px;
        padding: 10px;
    }
}
