.div_IconLabel{
  display: flex;
  align-items: center;
  cursor: pointer;

  .icon_Label{
    width: 20px;
    
  }

  .Header{
    color: var(--colorSolid);
  }
}

.div_IconLabel:hover{
  transform: scale(1.1);
}


